{% load static i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Уровень</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="style.css" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="dws-wrapper">
	<div class="dws-form">
		<!-- Вкладки на CSS -->
		<label class="initial-tab" title="Уровень">Уровень</label>

		<form id="initial-form" class="initial-form">

			<a href="#" class="button">Новичек</a>
            <a href="#" class="button">Любитель</a>
            <a href="#" class="button">Профи</a>

		</form>



	</div>
</div>
{% block javascript %}

{% endblock javascript %}
</body>
</html>

