
<html>
<head>

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />

    <title> head
    </title>
</head>

<body>
    <h1>Scenes</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

</body>

</html>







